@import "tailwindcss";
@import "./theme.css";
@import "./keyframes.css";

html,
body {
  overscroll-behavior-y: none;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
}
